/* WRAPPERS */

.leftDrawerMainContainer {
  max-width: 300px;
  min-height: 100vh;
  background-color: #ffffff;
  border-right: 2px solid #e2e6e9;
  background-color: #ffffff;
  padding: 15px;
  padding-left: 20px;
}

.leftDrawerContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 17px;
}

/* LOGO CONTAINER AND LOGO TEXT CSS */

.logoContainer {
  all: unset;
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 50px;
  cursor: pointer;
  max-width: 60%;
  user-select: none;
}

.logoIconContainer {
  display: flex;
  max-height: 50px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logoText {
  color: #18191b;
  font-size: 25px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 6px;
}

.logoIcon {
  height: 40px;
  width: 40px;
}

.accountSelectContainer {
  min-height: 70px;
  border: 2px solid #e2e6e9;
  border-radius: 15px;
}

.leftDrawerRuler {
  width: 100%;
  height: 2px;
  background-color: #e2e6e9;
}
