.accountSelectContainer {
  border: 2px solid #e2e6e9;
  display: flex;
  flex-direction: row;
  min-height: 70px;
  border-radius: 15px;
  padding-left: 3px;
  cursor: pointer;
  justify-items: stretch;
}
.accountSelectContainer:active {
  background-color: #e2e6e9;
}

.accountContentWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.accountIconContainer {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  border-radius: 100%;
  width: 55px;
  height: 55px;
  object-fit: cover;
  object-position: center;
}

.accountTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  gap: 1px;
  user-select: none;
}

.accountName {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 600;
}

.accountMail {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: #a1acb3;
}

.toggleIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.downArrow {
  width: 20px;
  height: 20px;
}
